body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #edf2f4;
  color: #333;
}

.site-header {
  background-color: #222;
  color: #edf2f4;
  padding: 2rem;
  text-align: center;
}
.site-header a {
  color: #edf2f4;

  text-decoration: underline;  
}
.site-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.site-header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #edf2f4;
}

main.portfolio {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

.project {
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project h2 {
  color: #2b2d42;
  margin-top: 0;
}

.project a {
  color: #2b2d42;
  text-decoration: underline;
}

.project a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.2rem;
}

.button {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: #8d99ae;
  border: 2px solid #2b2d42;
  color: #edf2f4;        /* Text color */
  font-size: 18px; 
}

.button:hover {
  background-color: #edf2f4;
}
