<!DOCTYPE html>
<html>
<head>
    <title>A binary classification tool that builds and visualizes ID3 (Iterative Dichotomiser 3) decision trees from datasets containing only binary-valued features.</title>
</head>
<body>
    <h1>Select a Dataset</h1>
    {% for dataset in datasets %}
        <form action="{{ url_for('show_model', dataset_name=dataset) }}" method="get" style="display:inline-block; margin: 5px;">
            <button type="submit">Train and evaluate: {{ dataset|capitalize }}</button>
        </form>

    <!-- Button to view dataset -->
        <form action="{{ url_for('plot_dataset', dataset_name=dataset) }}" method="get" style="display:inline-block; margin: 5px;">
            <button type="submit">View Dataset Feature Distribution: {{ dataset|capitalize }}</button>
        </form>
        <br>
    {% endfor %}
    <a href="{{ url_for('home') }}">Back to portfolio</a>
</body>
</html>
