<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Charlie Hudson - Portfolio</h1>
    <p>BS - Computer Science Graduate at the University of Oregon.</p>
  </header>

  <main>
    <h2>Bank Loan Approval ML Demo</h2>
    <p>This demo uses machine learning models to predict whether a bank loan will be approved.</p>
    <a class="button" href="/titanic_demo">Try the Demo</a>
 
    <h2>Application Development — Artemis Book Sales</h3>
       <a href="https://gitlab.com/johnduarte/artemis_sg" target="_blank">Gitlab link: gitlab.com/johnduarte/artemis_sg</a>
    <p><strong>Jun 2024 – Sep 2024</strong></p>
    <ul>
    <li>Contributed Python modules to an open-source business-automation suite. 
      <br>
    </li>
    <li>Re-engineered a Google Slides workflow into scalable HTML slide decks for over 2,000 products, eliminating API-quota limitations and improving performance.</li>
    <a href="https://johnduarte.gitlab.io/artemis_sg/usage.html#html-feature-flag" target="_blank">View Documentation for Html feature flag</a>
    </ul>
</div>

  </main>
</body>
</html>
