<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Charlie Hudson - Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="site-header">
    <img src="static/profile_img.jpg" alt="Charlie Hudson" class="corner-image">
    <h1>Charlie Hudson</h1>
    <p>BS in Computer Science — University of Oregon</p>
      <p>
    Github:
    <a href="https://github.com/CharlieHudson31" target="_blank">https://github.com/CharlieHudson31</a>
    <br>
    Gitlab:
    <a href="https://gitlab.com/CharlieHudson31" target="_blank">https://gitlab.com/CharlieHudson31</a>
    <br>
    linkedin:
    <a href="https://www.linkedin.com/in/charlie-hudson-b712a2256" target="_blank">charlie-hudson-b712a2256</a>
    </p>
  </header>

  <main class="portfolio">
    <section class="project">
      <h2>Application Development — Artemis Book Sales</h2>
      <p>
        <strong>Contribution to:</strong>
        <a href="https://gitlab.com/johnduarte/artemis_sg" target="_blank">artemis_sg</a>
      </p>
      <p><strong>Jun 2024 – Sep 2024</strong></p>
      <ul>
        <li>Contributed Python modules to an open-source business-automation suite.</li>
        <li>Re-engineered a Google Slides workflow into scalable HTML slide decks for over 2,000 products, eliminating API-quota limitations and improving performance.
        <a href="https://johnduarte.gitlab.io/artemis_sg/usage.html#html-feature-flag" target="_blank">
          Artemis_sg HTML Feature Flag Docs        </a>

        </li>
      </ul>

    </section>
    <section class="project">
      <h2>Bank Loan Approval Machine Learning Project Demo</h2>
      <p>This demo uses machine learning models to predict whether a bank loan will be approved.</p>
      <a class="button" href="/bank_loan_demo">Try the Demo</a>
    </section>
    <section class="project">
      <h2>ID3 (Iterative Dichotomiser 3) Machine Learning Project Demo</h2>
      <p>A binary classification tool that builds and visualizes ID3 (Iterative Dichotomiser 3) decision trees for any dataset containing binary-valued features.</p>
      <a class="button" href="/id3_demo">Try the Demo</a>
    </section>
  </main>
</body>
</html>
